<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}Not Devoured!{{else}}Devoured!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{id}}">
		Delete
	</button>
</li>
